<h1>My Message in a Bottle -- Account delete</h1>

<form action="" method="POST">
    <h1> Are you sure you want to delete the account?</h1>
    <input type=submit name="confirm_button" value="Delete my account" style="height:40px; width:200px">
    <input type=submit name="confirm_button" value="Cancel deletion" style="height:40px; width:150px">
</form>
{% if is_deleted %}
    <h1>Your account has been deleted. Bye!</h1>
    <script>    
        window.setTimeout(function(){

            // TODO move to sent messages
            window.location.href = "/";

            }, 2500);
    </script>
{% endif %}