{% extends "base.html" %}
{% block title %}Inbox{% endblock %}
{% block content %}
<!-- Improve the layout accoring with the draft -->
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    * {
    box-sizing: border-box;
    }

    /* Create three equal columns that floats next to each other */
    .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    }

    /* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    </style>
</head>
    <body>

        <link rel="stylesheet" href="custom.css">

        <div class="container p-0">
            <h1 class="h3 mt-3 mb-3">Inbox</h1>

                <div class="px-4 d-none d-md-block">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">
                            <input type="text" class="form-control my-3" placeholder="Search...">
                        </div>
                    </div>
                </div>

        <div class="row">
          <div style="width: 16%; float: left; padding: 10px;">
            <h2 class="h3 mt-3 mb-3">Sender</h2>
            {% for message in message_and_users: %}
                <a class="list-group-item list-group-item-action border-1" style="background-color:#ccc;">
                    <div class="d-flex align-items-start">
                        <div class="flex-grow-1 ml-3">
                            {{message[1].nickname}}
                        </div>
                    </div>
                </a>
            {% endfor %}
          </div>

          <div style="width: 17%; float: left; padding: 10px;">
            <h2 class="h3 mt-3 mb-3">Delivery date</h2>
            {% for message in messages: %}
                <a class="list-group-item list-group-item-action border-1" style="background-color:#ccc;">
                    <div class="d-flex align-items-start">
                        <div class="flex-grow-1 ml-3">
                            {{message.delivery_date}}
                            </div>
                    </div>
                </a>
            {% endfor %}
          </div>

          <div style="width: 67%; float: left; padding: 10px;">
            <h2 class="h3 mt-3 mb-3">Body</h2>
            {% for message in messages: %}
                <a class="list-group-item list-group-item-action border-1" style="background-color:#ccc;">
                    <div class="d-flex align-items-start">
                        <div class="flex-grow-1 ml-3">
                            {{message.body}}
                            </div>
                    </div>
                </a>
            {% endfor %}
          </div>
        </div>


        <div class="container p-0">
            <h1 class="h3 mt-3 mb-3">Sent</h1>

        <div class="px-4 d-none d-md-block">
            <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                    <input type="text" class="form-control my-3" placeholder="Search...">
                </div>
            </div>
        </div>

<div class="row">
  <div style="width: 16%; float: left; padding: 10px;">
    <h2 class="h3 mt-3 mb-3">Sender ID</h2>
    {% for message in sendMessages: %}
        <a class="list-group-item list-group-item-action border-1" style="background-color:#ccc;">
            <div class="d-flex align-items-start">
                <div class="flex-grow-1 ml-3">
                    {{message.sender_id}}
                    </div>
            </div>
        </a>
    {% endfor %}
  </div>

  <div style="width: 17%; float: left; padding: 10px;">
    <h2 class="h3 mt-3 mb-3">Message ID</h2>
    {% for message in sendMessages: %}
        <a class="list-group-item list-group-item-action border-1" style="background-color:#ccc;">
            <div class="d-flex align-items-start">
                <div class="flex-grow-1 ml-3">
                    {{message.message_id}}
                    </div>
            </div>
        </a>
    {% endfor %}
  </div>

  <div style="width: 67%; float: left; padding: 10px;">
    <h2 class="h3 mt-3 mb-3">Body</h2>
    {% for message in sendMessages: %}
        <a class="list-group-item list-group-item-action border-1" style="background-color:#ccc;">
            <div class="d-flex align-items-start">
                <div class="flex-grow-1 ml-3">
                    {{message.body}}
                    </div>
            </div>
        </a>
    {% endfor %}
  </div>
</div>

    </div>
    </body>
</html>
{% endblock %}