{% extends "base.html" %}
{% block title %}Send{% endblock %}
{% block content %}

<div class="card text-center">
    <div class="card-header">
        {%if mode=='received'%}
        <h2>Sender: {{message[1].nickname}}</h2>
        {% else %}
        <h2>Receiver: {{message[1].nickname}}</h2>
        {% endif %}
    </div>
    <div class="card-body">
        <h3 class="card-title">Message Body</h3>
        <p class="card-text">{{message[0].body}}</p>
        <div class="d-flex align-items-center" style="padding: 10px; overflow: hidden;">
            <figure id="imageResult" style="display: block;" class="image"> 
                <img id="base64ImageForDisplay" alt="" src="data:image/png;base64,{{message[0].image}}" style="display: block;">
            </figure>
        </div>
        <input type='button' class="btn btn-success" onclick="window.location.href = `/mailbox`" value="Back to Mailbox" />
    </div>
    <div class="card-footer text-muted">
        <h3>Creation date: {{message[0].creation_date}}</h3>
    </div>
</div>

{% endblock %}