{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
      <br>
      <h2>Info</h2>
      <h5> firstname : </h5> {{ current_user.firstname }}
      <h5> surname : </h5>  {{ current_user.lastname }}
      <h5> email : </h5> {{ current_user.email }}
      <h5> birthday : </h5> {{ current_user.date_of_birth }}
      <h5> location : </h5> {{ current_user.location }}
      <h5> nickname : </h5> {{ current_user.nickname }}
      <h5>points: </h5> {{current_user.lottery_points}}
      {% if current_user.lottery_points >= 12 %}
            <input type=submit name="submit_button" value='withdraw_message' onclick='
                  window.location.href = `/mailbox?lottery=1`;' />
      {% endif %}

      <br><br><br>
      <h2>Change Info:</h2>
      <form action="" method="POST" name="change_info">
            <h5> firstname : </h5>
            <input type="text" id="firstname" name="firstname" value="{{current_user.firstname}}">
            <h5> surname : </h5>
            <input type="text" id="lastname" name="surname" value="{{current_user.lastname}}">
            <h5> birthday : </h5>
            <input type="text" id="birthday" format="%d/%m/%Y" name="birthday" value="{{current_user.date_of_birth}}">
            <h5> location : </h5>
            <input type="text" id="location" name="location" value="{{current_user.location}}">
            <h5> new password: </h5>
            <input type="text" id="new_password" name="new_password" value="">
            <br><br>
            <h5> Insert the password to confirm changes: </h5>
            <p> (The old one if you are changing it) </p>
            <input type="text" id="old_password" name="old_password" value="">
            <input type="submit" value="Save changes">
      </form>
      <form action="" method="POST" name="filter">
            <br>
            <br>
            <h2>Word filter:</h2>
            <h5>(insert words separated by commas)</h5>
            <input type="text" id="filter" name="filter" value="{{user_filter_list}}">
            <br>
            <br>
            <input type="submit" value="Submit">
      </form>
{% endblock %}



