{% extends "base.html" %}
{% block title %}Send{% endblock %}
{% block content %}
<html>
    <body>
        {% if draft_id %}
        <h1>Edit the draft</h1>
        {% else %}
        <h1>Write a message</h1>
        {% endif %}
            
            <!--<h2>{{current_user_firstname}}</h2>-->
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <dl>
                <p>Recipient</p>
                {% if draft_id %}
                <select name="recipient" onChange="changeSizeInput()" id="recipient">
                {% else %}
                <select name="recipient" onChange="changeSizeInput()" multiple id="recipient">
                {% endif %}
                    {% for user in user_list.keys() %}
                        {% if user_list[user] == 1 %}
                            <option selected="selected" value="{{user}}">{{user}} </option>
                        {%else%}
                        <option value="{{user}}">{{user}} </option>
                        {% endif %}
                    {% endfor %}
                </select>
                {% for field in form.display %}
                  <dt>{{ form[field].label }}</dt>
                  <dd>{{ form[field]() }}</dd>
                  {% if form[field].errors %}
                      {% for e in form[field].errors %}
                      <p class="help-block">{{ e }}</p>
                      {% endfor %}
                  {% endif %}
                {% endfor %}
                </dl>
                <p>
                {% if draft_id %}
                    <input type=submit name="submit_button" value="Save changes" style="height:40px; width:150px">
                    <input type=submit name="submit_button" value="Send as message" style="height:40px; width:150px">
                {% else %}
                    <input type=submit name="submit_button" value="Save as draft" style="height:40px; width:150px">
                    <input type=submit name="submit_button" value="Send" style="height:40px; width:150px">
                {% endif %}
                
            </form>
            {% if is_submitted %}
            <script>    
                window.setTimeout(function(){
                window.location.href = "/mailbox";
        
                }, 0);
            </script>
            {% endif %}
            {% if none_recipient %}
                <h1>The recipient is empty!</h1>
            {% endif %}
    </body>
</html>
{% endblock %}